<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>

<h1>Total Monthly Amount You Want To Invest</h1>
<form action="/submit" method="POST">
    <label>Total Amount you want to Invest Monthly:</label>
    <input name="principle" type="text" class="feedback-input" placeholder="principle" required/>
    <label>Expected Rate of Interest per Annum:</label>
    <input name="rateOfInterest" type="text" class="feedback-input" placeholder="rateOfInterest" required/>
    <label>Total Time you want to Invest(Month):</label>
    <input name="totalTimeInvestMonth" type="text" class="feedback-input" placeholder="totalTimeInvestMonth" required/>
    <label>Total Time you want to Hold after Investment Period(Month):</label>
    <input name="totalTimeHoldMonth" type="text" class="feedback-input" placeholder="totalTimeHoldMonth" required/>

    <input type="submit" value="submit" />
  </form>
  </body>
  </html>